<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Ion Input </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form method="post">
    <ion-item>
      <ion-label position="floating">ion-input</ion-label>
      <ion-input name="fname" autocomplete="on" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ion-input username</ion-label>
      <ion-input name="username" autocomplete="on" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ion-input password</ion-label>
      <ion-input name="password" autocomplete="on" type="password"></ion-input>
    </ion-item>

    <input type="submit" />
    <!-- <ion-button type="submit" expand="block">Sign In</ion-button> -->
  </form>
</ion-content>
