<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> HTML Input </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form method="post">
    HTML input:<input type="text" name="fname" autocomplete="on" /><br />
    HTML input username:<input
      type="text"
      name="username"
      autocomplete="on"
    /><br />
    HTML input password:<input
      type="password"
      name="password"
      autocomplete="on"
    /><br />

    <input type="submit" />
  </form>
</ion-content>
